<!DOCTYPE HTML>

<html>
	<head>
		<title>VedsPortfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
		<link rel="manifest" href="static/images/site.webmanifest">
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<!-- <div id="main"> -->

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contact</h2>
								<p>Thank You, I will contact you soon.<br></p>
                                
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</article>
					<!-- </div> -->

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Vedansh Shekhar Ojha.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>